{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Acheter une place pour {{ candy_show.title }}</h1>

    <form method="post">

        <div class="input-group mb-3">
            <label 
                class="input-group-text" 
                for="place_number">
                Nombre de places
                </label>
            <input 
                class="form-control"
                type="number" 
                value="{{ candy_show.place_number }}"
                name="place_number"
                id="place_number"
                placeholder="Nombre de places"
                requiered>
        </div>

        <div class="input-group mb-3">
            <label 
                class="input-group-text" 
                for="type">
                Type
                </label>
            <select 
                class="form-select" 
                name="type"
                id="type"
                requiered>
                <option selected>Choisir...</option>
                {% for venue in venues %}
                    <option
                        {{ venue.id == candy_show.venue ? "selected" : "" }}
                        value="{{ venue.id }}">
                        {{ venue.title }}
                        </option>
                {% endfor %}
            </select>
        </div>

        <input
            class="btn btn-dark"
            type="submit" 
            value="Acheter">
        <a href="/home/" class="btn btn-outline-secondary">Annuler</a>
    </form>
{% endblock %}
