{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Acheter une place pour {{ candy_show.title }}</h1>

    <form method="post" action="/bookings/confirm_buy">
        <input 
            type="text" 
            value="{{ candy_show.id }}"
            name="id"
            hidden>
        <input 
            type="text" 
            value="{{ userCanBuy }}"
            id="userCanBuy"
            hidden>
        <div class="input-group mb-3">
            <label 
                class="input-group-text" 
                for="quantity">
                Nombre de places
                </label>
            <input 
                class="form-control"
                type="number" 
                value="1"
                name="quantity"
                id="quantity"
                placeholder="Quantité"
                requiered>
            <span 
                id="max3"
                class="input-group-text d-none">
                3 max
                </span>
        </div>

        <div id="place1">
            <div class="input-group mb-3">
                <label 
                    class="input-group-text" 
                    for="holder_name1">
                    Porteur
                    </label>
                <input 
                    type="text"
                    class="form-control"
                    name="holder_name1"
                    id="holder_name1"
                    placeholder="Jeremy Dubois"
                    required>
                <label 
                    class="input-group-text" 
                    for="type1">
                    Tarif
                    </label>
                <select 
                    class="form-select" 
                    name="type1"
                    id="type1"
                    requiered>
                    <option selected>Choisir...</option>
                    {% for price in prices %}
                        <option
                            value="{{ price.id }}">
                            {{ price.ticket_name }}
                            </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div id="place2" class="d-none">
            <div class="input-group mb-3">
                <label 
                    class="input-group-text" 
                    for="holder_name2">
                    Porteur
                    </label>
                <input 
                    type="text"
                    class="form-control"
                    name="holder_name2"
                    id="holder_name2"
                    placeholder="Jeremy Dubois">
                <label 
                    class="input-group-text" 
                    for="type2">
                    Tarif
                    </label>
                <select 
                    class="form-select" 
                    name="type2"
                    id="type2"
                    requiered>
                    <option selected>Choisir...</option>
                    {% for price in prices %}
                        <option
                            value="{{ price.id }}">
                            {{ price.ticket_name }}
                            </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div id="place3" class="d-none">
            <div class="input-group mb-3">
                <label 
                    class="input-group-text" 
                    for="holder_name3">
                    Porteur
                    </label>
                <input 
                    type="text"
                    class="form-control"
                    name="holder_name3"
                    id="holder_name3"
                    placeholder="Jeremy Dubois">
                <label 
                    class="input-group-text" 
                    for="type3">
                    Tarif
                    </label>
                <select 
                    class="form-select" 
                    name="type3"
                    id="type3">
                    <option selected>Choisir...</option>
                    {% for price in prices %}
                        <option
                            value="{{ price.id }}">
                            {{ price.ticket_name }}
                            </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <input
            class="btn btn-dark"
            type="submit" 
            value="Acheter">

        <a href="/home" class="btn btn-outline-secondary">Annuler</a>
    </form>
{% endblock %}

{% block javascript %}
    <script src="/assets/js/buy.js"></script>
{% endblock %}
