{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Merci de confirmer votre achat</h1>
    <div class="card">
        <div class="card-body">
            <h2>Pope Candy - {{ candy_show.title }}</h2>
            {% for key, ticket in tickets %}
                <div class="ms-3">1 place <b>tarif {{ ticket.name }}</b> au nom de <b>{{ key }}</b>.
                <br/><b>{{ ticket.ticketPrice}} € HT</b></div>
            {% endfor %}
            <div class="ms-3 mb-3 lead">Total = {{ total }} € HT</div>
            <form method="post" action="/bookings/payment">
                <input 
                    type="text" 
                    value="{{ id }}" 
                    name="id"
                    hidden>
                <input
                    class="btn btn-dark"
                    type="submit"
                    value="Confirmer mon achat">
                <a 
                    href="/bookings/buy/{{ id }}" 
                    class="btn btn-outline-secondary mt-1">
                    Annuler
                    </a>
            </form>
        </div>
    </div>
{% endblock %}
