{% extends 'layout.html.twig' %}

{% block content %}

    <h1>Editer {{ artists.name }}</h1>

    <div class="d-flex justify-content-center">
    <a class="btn btn-dark m-1" href="/artists/index">Retour à l'index artistes</a>
    </div>

    <form method="post">
        <input 
            type="hidden" 
            value="{{ artists.id }}" 
            name="id">
        <input 
            type="text" 
            value="{{ artists.name }}" 
            name="name"
            required
            placeholder="Nom de l'artiste ou du groupe">
        <input
            type="text" 
            value="{{ artists.biography }}" 
            name="biography"
            required
            placeholder="Courte Biographie">
        <input 
            type="url" 
            value="{{ artists.website }}" 
            name="website"
            required
            placeholder="Site internet">
        <input 
            type="submit" 
            value="Edit">
    </form>
{% endblock %}
