{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Artist </h1>
    <p>{{ artists.id }}.</p>
    <p>Nom de l'Artiste: .{{ artists.name }}</p>
    <p> Biography de l'artiste: . {{ artists.biography }}</p>
    <p> website de l'artiste: . {{ artists.website }}</p>
    <a href="/artists/edit/{{ artists.id }}">Edit</a>
    <a href="/artists/delete/{{artists.id}}">Delete</a>
    <br>
    <a href="/artists/index">Back to list</a>
{% endblock %}
