{% extends 'layout.html.twig' %}

{% block content %}

    <h1>{{ venue.title }}</h1>

    <div class="card">
        <div class="card-body">
            <div>Adresse : <b>{{ venue.address }}</b></div>
            <div>Capacité : {{ venue.capacity }}</a></div>
            <div>Accès Mobilité réduite : <b>{{ venue.disabled_access }}</b></div>
            <div>Accès VIP : <b>{{ venue.vip_available }}</b></div>
        </div>
    </div>


{% endblock %}
