{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Afficher les différents prix</h1>

    <ul class="list-group">
        {% for price in prices %}
            <li class="list-group-item" >
                <div>Salle ou Festival : {{ price.venueTitle }} </div>
                <div>Ville : {{ price.town }}</div>
                <div>Prix de la réduction : minus<b> {{ price.price }}€ HT</b></div>
                <div>Type de réduction : <b>{{ price.ticket_name }}</b></div>
                <a href="/prices/edit/{{ price.id }}">Editer</a>
            </li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    


{% endblock %}
