{% extends 'layout.html.twig' %}

{% block content %}

    <div class="d-flex justify-content-center">
        <a class="btn btn-dark m-1" href="/prices/edit/{{ candy_show.id }}">Editer</a>
        <a class="btn btn-dark m-1" href="/prices/delete/{{candy_show.id}}">Supprimer</a>
        <a class="btn btn-dark m-1" href="/home/admin">Administration</a>
    </div>
    

    <div class="card" style="width: 18rem;">
  
  <div class="card-body">
   <h1>Les Tarifs </h1>
    <p >{{ price.id }}. {{ price.venue_id }}</p>
    <p>Prix du ticket. {{ price.price }}</p>
        <p> Type de ticket. {{ price.ticket_type }}</p>
    <p class="card-text"></p>
    <a class="btn btn-secondary"href="/prices/index">Back to list</a>
  </div>
</div>

    <div class="d-flex justify-content-center">
        
        
        
        <br>
        
    </div>
{% endblock %}
