{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Price </h1>

    <div class="d-flex justify-content-center">
        <p >{{ price.id }}. {{ price.venue_id }}</p>
        <p>Prix du ticket. {{ price.price }}</p>
        <p> Type de ticket. {{ price.ticket_type }}</p>
        <a  class="btn btn-dark m-1" href="/prices/edit/{{ price.id }}">Edit</a>
        <a  class="btn btn-dark m-1" href="/prices/delete/{{price.id}}">Delete</a>
        <br>
        <a class="btn btn-secondary"href="/prices/index">Back to list</a>
    </div>
{% endblock %}
