{% extends 'layout.html.twig' %}

{% block content %}
    <header>
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner rounded-3"> 
                <div class="carousel-item active">
            <img src="/assets/images/pop-smoke-2.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1>Pop Candy Tour</h1>
                <h4>Le mastodonte est de retour</h4>
                <button class="btn btn-light rounded-pill">Parcourir</button>
            </div>
        </div>
        <div class="carousel-item rounded">
            <img src="/assets/images/882f33c582e252f187742763fb222557.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1>Pop Candy Tour</h1>
                <h4>Le mastodonte est de retour</h4>
                <button class="btn btn-light rounded-pill">Parcourir</button>
            </div>
        </div>
        <div class="carousel-item rounded">
            <img src="/assets/images/1200x680_gettyimages-1185574076.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1>Pop Candy Tour</h1>
                <h4>Le mastodonte est de retour</h4>
                <button class="btn btn-light rounded-pill">Parcourir</button>
            </div>
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div>
    </header>

    <h2>Prochaines dates</h2>
    <ul class="list-group mb-3">
        {% for candy_show in candy_shows %}
            <li class="list-group-item">
                <a
                    href="/candy_show/show/{{ candy_show.id }}">
                    {{ candy_show.title }}
                </a>
                <div>{{ candy_show.show_start|date("d/m/y") }}</div>
            </li>
        {% endfor %}
    </ul>

    <h2>Les dates les plus hots</h2>
    <ul class="list-group mb-3">
        {% for tot_show in top_shows %}
            <li class="list-group-item">
                <a
                    href="/candy_show/show/{{ tot_show.id }}">
                    {{ tot_show.title }}
                </a>
                <div>{{ tot_show.show_start|date("d/m/y") }}</div>
            </li>
        {% endfor %}
    </ul>

    <h2>Photo Gallery</h2>
{% endblock %}
