{% extends 'layout.html.twig' %}


{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h2>Populaire</h2>
            <ul class="list-group mb-3">
                {% for tot_show in top_shows|sort(
                    (a, b) => b.salesStatus <=> a.salesStatus
                    )%}
                    {% if tot_show.salesStatus > 60 %}
                        <li class="list-group-item {{ tot_show.sold_out == "COMPLET" ? "list-group-item-danger" : "" }}">
                            <div class="d-flex justify-content-between">
                                <a
                                    href="/candy_show/show/{{ tot_show.id }}">
                                    Pope Candy w/ {{tot_show.artist_name}}
                                </a>
                                <div>{{ tot_show.show_start|date("d/m/y") }}</div>
                            </div> 
                            <div class="d-flex justify-content-between">
                                <div>{{ tot_show.title }}</div>
                                <div class="text-danger">
                                    {% if tot_show.sold_out == "COMPLET" %}
                                       <b>{{ tot_show.sold_out }}</b>
                                    {% else %}
                                        <a 
                                            class="text-danger"
                                            href="/candy_show/show/{{ tot_show.id }}">
                                            Billeterie {{ tot_show.salesStatus }}
                                        </a>
                                    {% endif %}
                                </div>
                            </div> 
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <iframe class="myBorderRadius" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/AzQJO6AyfaQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <hr>
            <h2>Prochaines dates</h2>
            <div class="row g-1 mb-3">
                {% for candy_show in candy_shows %}
                    <div class="col-lg-4 col-sm-6">
                        <div class="card">
                            <div class="mx-2 mt-2 bg-black-50 d-flex justify-content-between align-items-start">
                                <div>
                                    <a
                                        class="h2"
                                        href="/candy_show/show/{{ candy_show.id }}">
                                        Pope Candy & {{candy_show.artist_name}}<br/>
                                    </a>
                                    <div class="text-dark noUnderline">
                                        {{ candy_show.title }}
                                    </div>
                                </div>
                                <div class="text-end text-muted">
                                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                    {{ candy_show.show_start|date("d/m/y") }}
                                </div>
                            </div> 
                            <div class="mx-2 mb-2">
                                <div class="row">
                                    <div class="col-8 d-flex flex-column justify-content-end">
                                        

                                        <div class="mt-2">
                                            {% if candy_show.sold_out == "COMPLET" %}
                                                <b>{{ tot_show.sold_out }}</b>
                                            {% elseif candy_show.sales_on|date("dmy") > "now"|date("dmy") %}
                                                <div class="text-muted">
                                                    Ouverture des ventes : 
                                                    {{ candy_show.sales_on|date("d/m/y") }}
                                                </div>
                                            {% else %}
                                                <a 
                                                    class="btn btn-outline-secondary mb-1"
                                                    href="/bookings/buy/{{ candy_show.id }}">
                                                    Réserver
                                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-4 text-muted text-end"> 
                                        <i class="fa fa-clock-o" aria-hidden="true"></i><br/>
                                        {{ candy_show.show_start|date("H:i") }} <br/>
                                        {{ candy_show.show_end|date("H:i") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                {% endfor %}
            </div>
            <div class="text-center">
                <ul class="list-group myBorderRadius">
                    <li class="list-group-item">
                        <a 
                            class="link-dark "
                            href="/candy_show/index">
                            Voir plus de concerts
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <hr>
        </div>

        <div class="col-md-4">
            <iframe class="myBorderRadius mb-3" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/oorVWW9ywG0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h2>Photo Gallery</h2>
            {% include '_partials/_carousel.html.twig'%}
            <h2 class="mt-3">Retrouvez nous sur les réseaux</h2>
            {% include '_partials/_socials.html.twig'%}

        </div>
    </div>

{% endblock %}
