{% extends 'layout.html.twig' %}

{% block content %}

    <h1>{{ candy_show.title }}</h1>
    {% if candy_show.soldout %}
        <div class="alert alert-sucess">
            <b>SOLD OUT</b>
        </div>
    {% endif %}
    <div class="card">
        <div class="card-body">
            <h2>POP CANDY at {{ candy_show.venueTitle }}</h2>
            <div class="lead text-end my-3">
                Première partie :
                <a href="{{ candy_show.artist_website }}">
                    {{ candy_show.first_part ?
                    candy_show.artist_name :
                    "<i>Pas de première partie</i>" }} 
                </a>
            </div>
            <div class="row">
                <div class="col-8">
                    <div>
                        Tarif normal : <br/>
                        <b>{{ candy_show.price }}€ HT</b><br/>
                        Salle : <br/>
                        <b>{{ candy_show.venueTitle }}</b><br/>
                        {{ candy_show.venueTown }}<br/>
                        {{ candy_show.venueAddress }}<br/>
                    </div>
                </div>
                <div class="col-4">
                    <div class="lead">{{ tot_show.show_start|date("d/m/y") }}</div>
                    <div class="text-muted">
                        Horaires :<br/>
                        {{ candy_show.show_start|date("H:i") }}<br/>
                        {{ candy_show.show_end|date("H:i") }}
                    </div>
                </div>
            </div>
            {% if candy_show.sales_on|date("dmy") > "now"|date("dmy") %}
                <div>
                    Ouverture des ventes : 
                    {{ candy_show.sales_on|date("d / m / y") }}
                </div>
            {% else %}
                <a 
                    href="/bookings/buy/{{ candy_show.id }}" 
                    class="btn btn-dark mt-3">
                    Acheter
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
