{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Add a new candy show</h1>
    <form method="post">
    <input type="hidden" value="{{ candy_show.id }}" name="id">
    <input type="text" value="{{ candy_show.title }}" name="title">
    <input type="text" value="{{ candy_show.venue }}" name="venue">
    <input type="text" value="{{ candy_show.first_part }}" name="first_part">
    <input type="text" value="{{ candy_show.first_part_website }}" name="first_part_website">
    <input type="text" value="{{ candy_show.price }}" name="price">
    <input type="text" value="{{ candy_show.show_start }}" name="show_start">
    <input type="text" value="{{ candy_show.show_end }}" name="show_end">
    <input type="text" value="{{ candy_show.sales_on }}" name="sales_on">
    <input type="text" value="{{ candy_show.sold_out }}" name="sold_out">
    <input type="text" value="{{ candy_show.sales }}" name="sales">
    <input type="submit" value="Add">
</form>
<a href="/candy_show/index">back to list</a>
{% endblock %}
