{% extends 'layout.html.twig' %}

{% block content %}
    <div class="d-flex justify-content-center mb-3">
        <a class="btn btn-dark" href="/candy_show/index">Retour à l'index des spectacles</a>
    </div>

    <h1>Ajouter un nouveau spectacle</h1>

    <form method="post">
        <input 
            type="hidden" 
            value="{{ candy_show.id}}"
            name="id">
        <div class="input-group mb-3">
            <label 
                class="input-group-text" 
                for="title">
                Titre de l'évènement
                </label>
            <input 
                class="form-control"
                type="text" 
                value="{{ candy_show.title }}"
                name="title"
                id="title"
                placeholder="Titre"
                requiered>
        </div>

        <div class="input-group mb-3">
            <label 
                class="input-group-text" 
                for="venue">
                Salle / Festival
                </label>
            <select 
                class="form-select" 
                id="venue"
                requiered>
                <option selected>Choisir...</option>
                {% for artist in artists %}
                    <option value="{{ artist.id }}">{{ artist.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="input-group mb-3">
            <label 
                class="input-group-text" 
                for="firstPart">
                Première partie
                </label>
            <select 
                class="form-select" 
                id="firstPart"
                requiered>
                <option selected>Choisir...</option>
                {% for artist in artists %}
                    <option value="{{ artist.id }}">{{ artist.name }}</option>
                {% endfor %}
            </select>
        </div>

        {# date part #}
        <div class="input-group mb-3">
            <label
                class="input-group-text"
                for="show_start">
                Date du concert
                </label>
            <input
                class="form-control"
                type="date"
                value="{{ candy_show.show_start }}"
                name="show_start"
                id="show_start"
                placeholder="debut du concert">
        </div>

        <div class="input-group mb-3">
            <label
                class="input-group-text"
                for="hour_start">
                Commence à
                </label>
            <input
                class="form-control"
                type="time"
                value="{{ candy_show.show_start }}"
                name="hour_start"
                id="hour_start"
                requiered>
            <label
                class="input-group-text"
                for="show_end">
                Fini à
                </label>
            <input 
                class="form-control"
                type="time" 
                value="{{ candy_show.show_end }}" 
                name="show_end"
                id="show_end"
                requiered>
        </div>

        <div class="input-group mb-3">
            <label 
                class="input-group-text"
                for="sales_on">
                Date d'ouverture des ventes
                </label>
            <input
                class="form-control"
                type="date"
                value="{{ candy_show.sales_on }}" 
                name="sales_on"
                id="sales_on"
                requiered>
        </div>

        <div class="input-group mb-3">
            <input 
                class="form-control"
                type="text"
                value="{{ candy_show.price }}"
                name="price"
                placeholder="Prix place"
                requiered>
            <input 
                class="btn btn-success"
                type="submit"
                value="Update">
        </div>
    </form>
{% endblock %}
