{% extends 'layout.html.twig' %}

{% block title %}Ajouter un nouveau spectacle{% endblock %}

{% block content %}
    <h1>Ajouter un nouveau spectacle</h1>
    <div class="card">
        <div class="card-body">
            <form 
                class="card"
                method="post">
                <input 
                    type="hidden" 
                    value="{{ candy_show.id}}"
                    name="id">
                    
                <div class="input-group mb-3">
                    <label 
                        class="input-group-text" 
                        for="title">
                        Titre de l'évènement
                        </label>
                    <input 
                        class="form-control"
                        type="text" 
                        value="{{ candy_show.title }}"
                        name="title"
                        id="title"
                        placeholder="Titre"
                        requiered>
                </div>

                <div class="input-group mb-3">
                    <label 
                        class="input-group-text" 
                        for="venue">
                        Salle / Festival
                        </label>
                    <select 
                        class="form-select" 
                        name="venue"
                        id="venue"
                        requiered>
                        <option selected>Choisir...</option>
                        {% for venue in venues %}
                            <option
                                {{ venue.id == candy_show.venue ? "selected" : "" }}
                                value="{{ venue.id }}">
                                {{ venue.title }}
                                </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="input-group mb-3">
                    <label 
                        class="input-group-text" 
                        for="first_part">
                        Première partie
                        </label>
                    <select 
                        class="form-select" 
                        id="first_part"
                        name="first_part"
                        requiered>
                        <option selected>Choisir...</option>
                        {% for artist in artists %}
                            <option 
                                {{ artist.id == candy_show.first_part ? "selected" : "" }}
                                value="{{ artist.id }}">
                                {{ artist.name }}
                                </option>
                        {% endfor %}
                    </select>
                </div>

                {# date part #}
                <div class="input-group mb-3">
                    <label
                        class="input-group-text"
                        for="show_date">
                        Date du concert
                        </label>
                    <input
                        class="form-control"
                        type="date"
                        value="{{ candy_show.show_start|date("Y-m-d") }}"
                        name="show_date"
                        id="show_date"
                        placeholder="debut du concert">
                </div>

                <div class="input-group mb-3">
                    <label
                        class="input-group-text"
                        for="start_hour">
                        Commence à
                        </label>
                    <input
                        class="form-control"
                        type="time"
                        value="{{ candy_show.show_start|date("H:i") }}"
                        name="start_hour"
                        id="start_hour"
                        requiered>
                    <label
                        class="input-group-text"
                        for="end_hour">
                        Fini à
                        </label>
                    <input 
                        class="form-control"
                        type="time" 
                        value="{{ candy_show.show_end|date("H:i") }}" 
                        name="end_hour"
                        id="end_hour"
                        requiered>
                </div>

                <div class="input-group mb-3">
                    <label 
                        class="input-group-text"
                        for="sales_on">
                        Date d'ouverture des ventes
                        </label>
                    <input
                        class="form-control"
                        type="date"
                        value="{{ candy_show.sales_on|date("Y-m-d") }}" 
                        name="sales_on"
                        id="sales_on"
                        requiered>
                </div>

                <div class="input-group mb-3">
                    <label 
                        class="input-group-text"
                        for="price">
                        Prix en euros HT
                        </label>
                    <input 
                        class="form-control"
                        type="text"
                        value="{{ candy_show.price }}"
                        name="price"
                        id="price"
                        placeholder="Prix place"
                        requiered>
                    <input 
                        class="btn btn-success"
                        type="submit"
                        value="Ajouter">
                </div>
            </form>
        </div>
    </div>
    {% endblock %}
