{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Editer : {{ candy_show.title }}</h1>

    <div class="d-flex justify-content-center">
        <a href="/candy_show/index">Back to list</a>
    </div>

    <form method="post">
        <input
            type="hidden" 
            value="{{ candy_show.id}}"
            name="id">
        <input
            class="form-control mb-3"
            type="text" 
            value="{{ candy_show.title }}"
            name="title"
            placeholder="Titre">
        <input
            class="form-control mb-3"
            type="text"
            value="{{ candy_show.venue }}"
            name="venue"
            placeholder="Salle / Festival">

        <div class="input-group mb-3">
            <input 
                class="form-control"
                type="text"
                value="{{ candy_show.first_part }}"
                name="first_part"
                placeholder="Premiere partie">
            <input 
                class="form-control"
                type="text" 
                value="{{ candy_show.first_part_website }}"
                name="first_part_website"
                placeholder="Premiere partie website">
        </div>

        {# date part #}
        <div class="input-group mb-3">
            <label
                class="input-group-text"
                for="show_start"></label>
            <input
                class="form-control"
                type="date"
                value="{{ candy_show.show_start }}"
                name="show_start"
                id="show_start"
                placeholder="debut du concert">
        </div>
        <div class="input-group mb-3">
            <label
                class="input-group-text"
                for="show_start">
                Commence à
            </label>
            <input
                class="form-control"
                type="time"
                value="{{ candy_show.show_start }}"
                name="show_start"
                id="show_start"
                placeholder="debut du concert">
        </div>
        <div class="input-group mb-3">
            <label
                class="input-group-text"
                for="show_start">
                Fini à
            </label>
            <input 
                class="form-control"
                type="time" 
                value="{{ candy_show.show_end }}" 
                name="show_end"
                id="show_end">
        </div>

        <div class="input-group mb-3">
            <label 
                class="input-group-text"
                for="show_start">
                Date d'ouverture des ventes
            </label>
            <input
                class="form-control"
                type="date"
                value="{{ candy_show.sales_on }}" 
                name="sales_on"
                id="sales_on">
        </div>

        <div class="input-group mb-3">
            <input 
                class="form-control"
                type="text"
                value="{{ candy_show.price }}"
                name="price"
                placeholder="Prix place">
            <input 
                class="btn btn-success"
                type="submit"
                value="Update">
        </div>
    </form>
{% endblock %}
