{% extends 'layout.html.twig' %}

{% block title %}{{ candy_show.title }}{% endblock %}

{% block content %}

    <h1>{{ candy_show.title }}</h1>

    {% if candy_show.soldout %}
        <div class="alert alert-sucess">
            <b>SOLD OUT</b>
        </div>
    {% endif %}

    <div class="card">
        <div class="card-body row">
            <div class="col-lg-5">
                <h2 class="text-start">POP CANDY @ {{ candy_show.venueTitle }}</h2>
                <div class="lead text-end my-3">
                    Première partie :
                    <a href="{{ candy_show.artist_website }}">
                        {{ candy_show.first_part ?
                        candy_show.artist_name :
                        "<i>Pas de première partie</i>" }} 
                    </a>
                </div>
                <div class="row">
                    <div class="col-8 d-flex flex-column justify-content-between">
                        <div>
                            Tarif normal : <br/>
                            <b>{{ candy_show.price }}€ HT</b><br/>
                        </div>
                        {% if candy_show.sales_on|date("dmy") > "now"|date("dmy") %}
                            <div class="text-muted mt-3">
                                Ouverture des ventes : 
                                {{ candy_show.sales_on|date("d / m / y") }}
                            </div>
                        {% elseif sold_out == "COMPLET" %}
                            <div class="btn btn-dark mt-3" >
                                COMPLET
                            </div>
                        {% elseif alreadyBought %}
                            <div class="text-muted mt-3" >
                                Vous avez déja acheté le nombre maximum de places pour ce concert.
                            </div>
                        {% else %}
                            <a 
                                href="/bookings/buy/{{ candy_show.id }}" 
                                class="btn btn-dark mt-3">
                                Acheter
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-4 d-flex flex-column justify-content-between align-items-end">
                        <div class="lead">
                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                            {{ tot_show.show_start|date("d/m/y") }}
                        </div>
                        <div class="text-muted">
                            <i class="fa fa-clock-o" aria-hidden="true"></i><br/>
                            {{ candy_show.show_start|date("H:i") }}<br/>
                            {{ candy_show.show_end|date("H:i") }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 mt-2 mt-lg-0">
                <img 
                    class="w-100 mb-2"
                    src="/assets/images/venues/{{ candy_show.venue }}.jpg" 
                    alt="illustration de {{candy_show.title}}">
                <b>{{ candy_show.venueTitle }}</b><br/>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <a 
                    class="link-secondary"
                    href="https://www.google.fr/maps/place/{{ address }}" 
                    target="_blank">
                    {{ candy_show.venueAddress }}
                </a>
            </div>
        </div>  
    </div>
{% endblock %}
