{% extends 'layout.html.twig' %}

{% block content %}
    <div class="d-flex justify-content-center">
        <a class="btn btn-dark m-1" href="/candy_show/edit/{{ candy_show.id }}">Editer</a>
        <a class="btn btn-dark m-1" href="/candy_show/delete/{{candy_show.id}}">Supprimer</a>
        <a class="btn btn-dark m-1" href="/home/admin">Administration</a>
    </div>

    <h1>{{ candy_show.title }}</h1>
    {% if candy_show.soldout %}
        <div class="alert alert-sucess">
            <b>SOLD OUT</b>
        </div>
    {% endif %}
    <div class="card">
        <div class="card-body">
            <div>Salle de concert : <b>{{ candy_show.venue }}</b></div>
            <div>Première partie : <a href="{{ candy_show.first_part_website }}">{{ candy_show.first_part ? candy_show.first_part : "<i>Pas de première partie</i>" }}</a></div>
            <div>Tarif Unitaire : <b>{{ candy_show.price }}€ HT</b></div>
            <div>Heure début : {{ candy_show.show_start|date("H:i") }}</div>
            <div>Heure fin : {{ candy_show.show_end|date("H:i") }}</div>
            <div>Ouverture des ventes : {{ candy_show.sales_on|date("d / m / y") }}</div>
            <div>Nombres de places vendues : <b>{{ candy_show.sales }}</b></div>
        </div>
    </div>
{% endblock %}
