{% extends 'layout.html.twig' %}

{% block title %}Modifier les droits d'administration{% endblock %}

{% block content %}
    <h1>Modifier les droits d'administration pour {{ user.firstname }} {{ user.name }}</h1>
    <form method="post">

        <input 
            type="text" 
            hidden 
            value="{{ user.id }}" 
            name="id">
        <div class="input-group mb-3">
            <div class="input-group-text">
                <label
                    for="admin">
                    {{ user.firstname }} {{ user.name }} Droits d'administration : 
                    </label>
                <input 
                    class="form-check-input mt-0 ms-2" 
                    type="checkbox"
                    name="admin"
                    id="admin"
                    {{ user.admin ? "checked" : "" }}
                    aria-label="Donner les droits d'administration pour {{ user.name }}">
            </div>
        </div>
        <input 
            class="btn btn-dark" 
            type="submit" 
            value="Valider">

    </form>
{% endblock %}
