{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Donner les droits d'administration pour {{ user.name }}</h1>
    <form method="post">

        <input 
            type="text" 
            hidden 
            value="{{ user.id }}" 
            name="id">

        <div class="input-group mb-3">
            <div class="input-group-text">
                <label
                    class="input-group-text"
                    for="admin">
                    Donner les droits d'administration à cet utilisateur : {{ user.firstname }} {{ user.name }}
                    </label>
                <input 
                    class="form-check-input mt-0" 
                    type="checkbox"
                    name="admin"
                    id="admin"
                    {{ user.admin ? "checked" : "" }}
                    aria-label="Donner les droits d'administration pour {{ user.name }}">
            </div>
            <input 
                class="btn btn-dark" 
                type="submit" 
                value="Valider">
        </div>
    </form>
{% endblock %}
