{% extends 'layout.html.twig' %}

{% block content %}

	<h1>Vos places</h1>
	<ul class="list-group">
		<li class="list-group-item text-muted">
			Vos différentes places pour les spectacles de POPE CANDY :
		</li>
		{# {{ category = 0 }} #}
		{% for show in tickets|sort((a ,b) => a.showStart <=> b.showStart) %}

			<li class="list-group-item">
				<a
                    class="h2"
                    href="/candy_show/show/{{ show.showId }}">
                    Pope Candy & {{show.first_part}}<br/>
                </a>
				<h5>
					<i class="fa fa-map-marker" aria-hidden="true"></i>
					{{ show.showTitle }}
                </h5>
				<div class="row">
					<div class="col-8">
						<i class="fa fa-calendar-o" aria-hidden="true"></i>
						{{ show.showStart|date('d/m/y')}} <br>
						Commence à
						{{ show.showStart|date('H:i')}}
					</div>
					<div class="col-4">
						Nom : <br>
						<b>{{ show.holder }}</b>
					</div>
				</div>
			</li>
		{% else %}
			<li 
                class="list-group-item d-flex justify-content-between">
                Vous n'avez pas encore acheté de billet sur notre site.
            </li>
		{% endfor %}
	</ul>

{% endblock %}
