{% extends 'layout.html.twig' %}

{% block content %}
    <div class="d-flex justify-content-center mb-3">
        <a class="btn btn-dark m-1" href="/home/admin">Admin Index</a>
    </div>

    <h1>Utilisateurs enregistrés</h1>
    <ul class="list-group">
        {% for user in users %}
            <li class="list-group-item d-flex justify-content-between">
                <a href="/user/edit/{{ user.id }}">
                    {{ user.id }} : {{ user.firstname }} {{ user.name }}
                </a>
                {{ user.email }}
            </li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>

{% endblock %}

