{% extends 'layout.html.twig' %}

{% block content %}

    <h1>Utilisateurs enregistrés</h1>
    <ul class="list-group">
        {% for user in users %}
            <li class="list-group-item d-flex justify-content-between">
                <a href="/user/edit/{{ user.id }}">
                    {{ user.id }} : {{ user.firstname }} {{ user.name }}
                </a>
                {% if userSession.admin %}
                    <a href="/user/giveAdminrights/{{ user.id }}">Modifier droits Admin</a>
                {% endif %}
                

                {{ user.email }}
            </li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>

{% endblock %}

