{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Utilisateurs enregistrés</h1>
    <ul>
        {% for user in users %}
            <li>
                <a href="/user/show/{{ user.id }}">
                    {{ user.id }} : {{ user.firstname }} {{ user.name }}
                </a>
                {{ user.email }}
            </li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    <a href="/user/add">Add</a>
{% endblock %}

