{% extends 'layout.html.twig' %}

{% block title %}Utilisateurs enregistrés{% endblock %}

{% block content %}

    <h1>Utilisateurs enregistrés</h1>
    <ul class="list-group">
        {% for user in users %}
            <li class="list-group-item ms-2 py-4 d-flex justify-content-between align-items-center">

                <span class="position-absolute top-50 start-0 translate-middle badge rounded-pill bg-dark">
                    {{ user.id }}<br>
                </span>  
                <div class="ms-2">
                    {{ user.firstname }} {{ user.name }} <br>
                    {{ user.email }}
                </div>
                
                <a href="/user/giveAdminrights/{{ user.id }}">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    Droits Admin
                </a>
            </li>
        {% else %}
            <li>Aucuns utilisateurs enregistrés.</li>
        {% endfor %}
    </ul>

{% endblock %}

