{% extends 'layout.html.twig' %}

{% block content %}
    <h1>{{ userProfile.firstname }} {{ userProfile.name }}</h1>
        <div class="card">
        <div class="card-body">
    <p>Votre Age : {{ userProfile.age }} ans 
    <br>
    Votre adresse : {{ userProfile.adress }}.
    <br>
    Votre Email : {{ userProfile.email }}.
    <br>
    Vos Réservation : {{user.id_user}}
    </p>
    <a class="btn btn-dark" href="/user/edit/{{ userProfile.id }}">Editer mon profil</a>
  </div>
</div>
{% endblock %}
